{% include 'header.twig' %}
    <div class="main" role="main">
        <div class="container">
            {{ content }}
            <div class="gallery">
                {% for image in meta.images %}
                    <div>
                    <a href="{{ base_url }}/image/gallery/{{image.url}}" alt="{ image.alt }}" target="_blank">
                            <picture>
                                <source media="(min-width: 668px)" srcset="{{ base_url }}/image/gallery/{{image.url}}?crop-to-fit&aspect-ratio=3:2">
                                <source media="(min-width: 376px)" srcset="{{ base_url }}/image/gallery/{{image.url}}?w=667&crop-to-fit&aspect-ratio=3:2">
                                <img src="{{ base_url }}/image/gallery/{{image.url}}?w=375&crop-to-fit&aspect-ratio=3:2" alt="{{ image.alt }}">
                            </picture>
                        </a>
                    </div>           
                {% endfor %}
            </div>
        </div>
    </div>
{% include 'byline.twig' %}
{% include 'footer.twig' %}
